:root {
    --logo: url("https://cdn.jsdelivr.net/");
}

.pageTitleWithDefaultLogo {
    background-size: 100% !important;
}

.layout-mobile .pageTitleWithDefaultLogo {
    width: 130px !important;
}

#loginPage .visualLoginForm:not(.hide) h1::before {
  background-size: 50% !important;
}

#loginPage .manualLoginForm:not(.hide) h1.sectionTitle::before {
  background-size: 100% !important;
}
